@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container row col-12">
    <div class="row col-4 m-0 m-auto rounded" style="border:2px solid #004481">
        <form id="account" method="post" class="col-12">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h4 class="text-center">LOGIN</h4>
            <hr />
            <div class="col-12 form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="col-12 form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="col-12 form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="col-12 form-group">
                <div class="col-6 m-0 m-auto">
                    <button type="submit" class="btn btn-primary text-white form-control">LOGIN</button>
                </div>
            </div>
            <div class="col-12 form-group text-center">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <style>
        input[type=email] {
            border-color: #0094ff;
        }
        input[type=password] {
            border-color: #0094ff;
        }
        hr {
            border-color: #0094ff;
        }
    </style>
}
