
@{
    ViewData["Title"] = "Product Size List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border">
    <div class="row p-2">
        <div class="col-6">
            <h3>Product Type List</h3>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary text-white"><i class="fas fa-plus" style="color:white"></i> &nbsp; New Product Type</a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped p-1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Type</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/productSize.js"></script>
}